{:postgresql #profile {:default {:hostname "localhost";"docker.for.win.localhost"
                                 :port 5432
                                 :database "contacts_api_test"
                                 :user "postgres"
                                 :password "postgres"}
                       :staging {:hostname "staging-url"
                                 :port 5432
                                 :database "contacts_api_staging"
                                 :user "user"
                                 :password "password"}
                       :production {:hostname "production-url"
                                    :port 5432
                                    :database "contacts_api_production"
                                    :user "user"
                                    :password "password"}}}
